head
	link(href='./main.css', rel='stylesheet')
	title Robotics Demos


.container
	h1 Some Robotics Demos
	li
		a(href='./kalmanfiltering.html') Kalman filtering
	li
		a(href='./pathfinding.html') Pathfinding (A* and Dijkstra)

	br

	span Source code:&nbsp;
	a(href='https://github.com/c2huc2hu/robotics-demos') Github