script(src='./lib/lodash.min.js')
script(src='./lib/jquery.min.js')
script(src='./lib/FastPriorityQueue.js')
script(src='./pathfinding.js')
script(src='./renderDijkstra.js')

style.
	canvas {
		border: solid 1px black
	}
canvas(width=340, height=340)#obstacle-map
